.imgBook{
    width: 100%;
    height: 25rem;
}
.imgBookIndex{
    width: 100px;
    height: 10rem;
}
.imgShow{
    width: 250px;
}
.containerShow{
   padding: 2rem 0;
}
.titleBookLink{
    text-decoration: none;
    
}
.img-hover {
    transition: transform 0.3s ease;
}
.img-hover:hover {
    transform: scale(1.05);
}