.imgBook{
    width: 100%;
    height: 25rem;
}
.imgBookIndex{
    width: 100px;
    height: 10rem;
}
.imgShow{
    width: 250px;
}
.containerShow{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.titleBookLink{
    text-decoration: none;
    
}