{% extends 'base.html.twig' %}

{% block title %}Mes Emprunts{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste de mes emprunts</h1>
    <p>Ici s'affichera la liste de tous vos emprunts.</p>
    
</div>
{% endblock %}